.contributors {
  position: absolute;
  padding-top: 80px;
  padding-bottom: 80px;
  top: 35%;
  left: 0;
  width: 100vw;
  max-width: 100%;
  background-color: white;
  height: auto;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}

.contributors .title{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-size: 33px;
    font-family: Piazzolla, serif;
    font-weight: 500;
}

.contributors .cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
}

@media screen and (min-width: 768px){
    .contributors .title{
        font-size: 47px;
    }
}